/* Theme Colours */
:root {
    --bg-colour: white;
    --text-colour: black;
    --sidebar-bg-colour: lightgrey;
    --sidebar-border-colour: darkgrey;
    --sidebar-inside-bg-colour: white;
    --titlebar-bg-colour: black;
    --titlebar-text-colour: white;
}

body {
    margin: 1%;
    margin-top: 5.8%;

    /* Style */
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

@font-face {
    font-family: "blackboysonmopeds";
    src: url(assets/fonts/BLACKBOYSONMOPEDS.ttf);
}

.titleBar {
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* Font */
    font-family: "blackboysonmopeds";
    letter-spacing: 0.2rem;
    color: var(--titlebar-text-colour);

    /* Style */
    background-color: var(--titlebar-bg-colour);

    /* Sizing */
    width: 100%;
    height: 5%;
    padding: 1%;
    padding-left: 3%;

    /* Flex Box to Align Content */
    /* Unnecessary - justify-content: center; */
    display: flex;
    align-items: center;
}

.alignRight {
    margin-left: auto; 
    margin-right: 5%;
}

.themeButton {
    /* Style */
    border: 3px solid var(--bg-colour);
    border-radius: 20%;

    /* Sizing */
    width: 125%;
    aspect-ratio: 1 / 1;
}

#themeToggle {
    /* Style*/
    fill: white;
}

.sideBar {
    /* Sizing */
    width: 20%;
    height: 865px;

    /* Style */
    border: 3px solid var(--sidebar-border-colour);
    background-color: var(--sidebar-bg-colour);

    /* Flex  box to allow modFilePath to fill */
    display: flex;
    flex-direction: column;
}

.sideBarInside {
    /* Style */
    background-color: var(--sidebar-inside-bg-colour);
    border: 3px solid var(--sidebar-border-colour);

    /* Sizing */
    margin: 2%;
    width: 94%;
}

.modTitle {
    /* Font */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;

    /* Sizing */
    height: 6%;
}

.modFilePath {
    /* Sizing */
    flex-grow: 1;
    min-height: 0;
    padding: 5%;
    width: auto;
}

.sideBarSpacing {
    /* Sizing */
    width: 94%;

    /* Flex Box to align content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileButtons {
    /* Sizing */
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 20%;
}

/* Universal */
.flexAlignCentre {
    /* Flex Box to Align Content */
    justify-content: center;
    display: flex;
    align-items: center;
}

.svgIcon {
    stroke: var(--text-colour);
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Dark mode */
body.dark {
    --bg-colour: #292b2f;
    --text-colour: white;
    --sidebar-bg-colour: #40444b;
    --sidebar-border-colour: #2f3136;
    --sidebar-inside-bg-colour: #2f3136;
    --titlebar-bg-colour: #202225;
    --titlebar-text-colour: white;
}